footer
{
    background-color: rgba(0, 0, 0, 0.826);
    color: #fff;
    margin-top: 40px;
    .footer_title
    {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
        position: relative;
        &::before
        {
            content: "";
            display: block;
            position: absolute;
            bottom: -6px;
            height: 3px;
            width: 50px;
            background-color: #fff;
        }
    }
    .address
    {
        li 
        {
            h4 
            {
                margin-bottom: 20px;
            }
            p 
            {
                padding-bottom: 10px;
            }
            i 
            {
                padding-right: 5px;
            }
        }
    }
    .policy
    {
        li 
        {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-bottom: 10px;
            transition: .4s ease-in-out;
            p 
            {
                padding-top: 5px;
            }
            &:hover 
            {
                transform: translateX(10px);
                transition: .4s ease-in-out;
                color: #fd8600;
            }
        }
    }
    .social_net
    {
        display: flex;
        gap: 30px;
        li 
        { 
            a
            {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
                &:hover 
                {
                    color: #fd8600;
                    border: 2px solid #fd8600;
                    transition: .3s ease-in-out;
                }
            }
        }
       
    }
}