header
{
    padding: 10px 0;
    background-color: #333;
    .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu
        {
            display: flex;
            gap: 20px;
            .menu-link
            {
                text-transform: uppercase;
                color: #fff;
                &:hover 
                {
                    color: #fd8600;
                    transition: .3s ease-in-out;
                }
            }
        }
        .header_right
        {
            display: flex;
            gap: 20px;
            i 
            {
                color: #fff;
                font-size: 20px;
            }
            .icon_cart
            {
                position: relative;
                span 
                {
                    color: #fd8600;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    font-size: 14px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: -10px;
                    top: -12px;
                    z-index: 99;
                }
            }
            .hamburger
            {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                display: none;
                .line
                {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 4px;
                    transition: all .3s ease-in-out;
                    margin: 5px auto;
                }
            }
            .hamburger.active .line:nth-child(1)
            {
                transform: translateY(8px) rotate(45deg) ;
            }
            .hamburger.active .line:nth-child(2)
            {
                opacity: 0;
            }
            .hamburger.active .line:nth-child(3)
            {
                transform: translateY(-8px) rotate(-45deg) ;

            }
        }
    }
}