*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}
.mt-30
{
    margin-top: 30px;
}