@media (max-width:768px) {
    header 
    {
        .header
        {
            .header_right
            {
                .hamburger
                {
                    display: block;
                    margin-top: -4px;
                }
            }
            .menu
            {
                position: absolute;
                left: -100%;
                right: 0;
                top: 104px;
                flex-direction: column;
                gap: unset;
                z-index: 9;
                background-color: #333;
                width: 100%;
                transition: .3s ease-in-out;
                padding: 20px 30px;
                .menu-item
                {
                    padding-bottom: 20px;
                }
            }
            .menu.active 
            {
                left: 0;
                transition: .3s ease-in-out;
            }
        }
    }
    main 
    {
        .service_content
        {
            margin-bottom: 40px;
            p:first-child
            {
                font-size: 14px;
            }
        }
        .contact
        {
            display: none;
        }
        .slider_banner
        {
            margin-top: 10px;
            .viewport-img
            {
                padding-top: 45%;
            }
        }
        .products
        {
            .product_content
            {
                button 
                {
                    font-size: 14px;
                }
                .flex_price
                {
                    flex-direction: column;
                }
            }
        }
    }
}